@model StudentRegisterationForm.Models.StudentModel

@{
    ViewData["Title"] = "SuccessView";
}

<h1>Students Details From SuccessView</h1>

<div>

    <hr />
    <dl class="row justify-content-center">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
  @*       <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirm_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirm_Password)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Details">Back to List</a>
</div>
